.app.dark {
    --bg-color: #27374D;
    --inverted-bg-color:  #DDE6ED;

    --primary-color: #DDE6ED;
    --secondary-color: #9DB2BF;
    --inverted-primary-color: #27374D;
    --inverted-secondary-color: #526D82;
}
