.app.light {
    --bg-color: #DDE6ED;
    --inverted-bg-color:  #27374D;

    --primary-color: #27374D;
    --secondary-color: #526D82;
    --inverted-primary-color: #DDE6ED;
    --inverted-secondary-color: #9DB2BF;
    --icon-theme-color: #ffe26f;
}
